{% extends 'base.html.twig' %}

 {% form_theme formInscription 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="example-wrapper container col-10">
        {{form_start(formInscription)}}




        {{form_end(formInscription)}}


    </div>
{% endblock %}
